:root{
    --clr:#ffff00;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.light-mode{
    background-color: rgb(243, 243, 243);
}

body.dark-mode{
    background-color: rgb(12, 12, 12);
}

#menu{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#container{
    padding: 2rem 0 35rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    max-width: 992px;
    flex-direction: column;
}

#container.light-mode{
    background-color: white;
}

#container.dark-mode{
    background-color: black;
}

h2{
    font-size: 40px;
    padding-inline: 2rem;
}

h2.light-mode{
    color: black;
}

h2.dark-mode{
    color: white;
}

#theme{
   font-size: 40px;
}

#them.light-mode{
    color: black;
}

#theme.dark-mode{
    color: white;
}

#theme.light-mode:hover i,#theme.dark-mode:hover i{
    transition: .6s;
    color: #807d01;
}

#theme.light-mode:active i,#theme.dark-mode:active i{
    transition: .6s;
    color: #9e9b02;
}

#theme i{
    font-size: 3rem;
}

#list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 990px;
}

.button{
    background-color: #122A57;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 3rem;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 2rem;
    flex-basis: 20rem;
}

.button.light-mode:hover{
    background-color: #09142a;
    transition: .6s;
}

.button.dark-mode:hover{
    background-color: #183772;
}

.button.light-mode:active{
    background-color: #1a3d7f;
    transition: .6s;
}

.button.dark-mode:active{
    background-color: #0e2146;
    transition: .6s;
}

@media (max-width: 992px) {

    #menu{
        margin-bottom: 2rem;
        display:flex;
    }
    
    h2{
        font-size: 20px;
        padding-inline: 2rem;
    }
    
    #theme{
       font-size: 40px;
    }

    #container{
        padding: 2rem 0 30rem;
    }

    #list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .button{
        margin-bottom: 2rem;
        flex-basis: 6rem;
    }
}