@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(153, 153, 153);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-form {
    display: flex;
    background-color: rgb(200, 200, 200);
    border-bottom: #000066 solid 2px;
    padding: 2px;
}

#task-input {
    font-size: 30px;
    background-color: transparent;
    border: none;
}

button {
    font-size: 30px;
    background-color: transparent;
    border: none;
}

#task-input:not(:focus) {
    color: red;
    transition: .6s;
}

#task-input:focus {
    color: #000066;
    transition: .6s;
}

button:hover{
    background-color: rgb(160, 160, 160);
    color: #000066;
    transition: .6s;
}

button:active{
    background-color: rgb(10, 10, 10);
    color: rgb(200, 200, 200);
    transition: .6s;
}

#tasks{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

:checked + label {
  text-decoration: line-through;
  color: red;
}
