@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(153, 153, 153);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subcontainer {
    display: flex;
    background-color: rgb(200, 200, 200);
    border-bottom: #000066 solid 2px;
    padding: 2px;
}

h2{
    color: rgb(200,0,0);
}

#array{
    font-size: 30px;
    background-color: transparent;
    border: none;
}

#Result {
    font-size: 30px;
    background-color: transparent;
    border: none;
}

#array:not(:focus) {
    color: red;
    transition: .6s;
}

#array:focus {
    color: #000066;
    transition: .6s;
}

#Result:hover{
    background-color: rgb(160, 160, 160);
    color: #000066;
    transition: .6s;
}

#Result:active{
    background-color: rgb(10, 10, 10);
    color: rgb(200, 200, 200);
    transition: .6s;
}

#response{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: darkred;
  max-width: 450px;
  transition: .6s;
}
